<header id="header">
    <div class="section layout-container">
        {% include 'components/region-header-top.html.twig' %}

        {% include 'components/logo.html.html.twig' %}

        {% include 'components/primary-menu.html.twig' %}
    </div>
</header>