{% extends "base.html.twig" %}
{% import 'macros.html.twig' as macros %}

{% block title %}{{ 'messages.user.password'|trans }} | BRT solutions{% endblock %}

{% block content %}
    <h1>{{ 'messages.user.password'|trans }}</h1>

    {% include "components/tabs/log-in.html.twig" with {
        type: 'reset'
    } %}

    {{ form(form) }}
{% endblock %}